[build]
builder = "dockerfile"

[deploy]
startCommand = "npm start"

[[services]]
id = "backend"
source = "./backend"

[services.backend]
buildCommand = "docker build -t backend ."
startCommand = "docker run -p $PORT:5000 -v railway_uploads:/app/uploads backend"

[[volumes]]
id = "railway_uploads"

[[services]]
id = "frontend"
source = "./frontend"
buildCommand = "npm install && npm run build"
startCommand = "npm start"